.content {
  padding-bottom: 13px;
  padding-right: 26px;
  padding-left: 26px;
}

.contentMarcas {
  padding-right: 13px;
	padding-left: 0;
}


.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
  gap: 6px;
}
