.checkoutItem {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 14px;
	border: 1px solid var(--secondary);
	border-radius: 5px;
}

.thumbnail {
	flex-shrink: 0;
	position: relative;
	width: 74px;
	height: 64px;
}

.content {
	display: flex;
	flex-direction: column	;
}

.boxTotal {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.total .value {
	color: var(--primary);
	font-weight: 500;
}

.boxAmount {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	min-width: 88px;
	width: 100%;
}

.amount .inputValue {
	color: var(--black);
	font-weight: 400;
}

@media (max-width: 991px) {
	.amount {
		flex-shrink: 0;
	}

	.boxAmount {
		min-width: auto;
		flex-direction: column;
		align-items: center;
	}

	.title {
		margin-bottom: 0;
		font-size: 1.6rem;
	}
}